* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {

    align-items: center;
    border-bottom: 1px solid #EEEEEE;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;

    .logo-titulo {

        align-items: center;
        display: flex;
        font-family: "Poppins", sans-serif;
        justify-content: space-between;
        width: 25%;

        img {
            height: 30px;
            width: 30px;
        }
    }
}

nav {

    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 50%;

    a {

        color: #4B5563;
        font-family: "Poppins", sans-serif;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .botao-verde-header {
        background-color: #21C05C;
        border: none;
        border-radius: 5px;
        color: #FFFFFF;
        padding: 15px 30px;
    }
}

.primeira-secao {

    align-items: center;
    display: flex;
    padding: 30px 20px;

    section {

        display: flex;
        flex-direction: column;
        height: 50vh;
        justify-content: space-evenly;

        h2 {
            color: #1F2937;
            font-family: "Poppins", sans-serif;
            font-size: 50px;
        }

        p {
            color: #4B5563;
            font-family: "Poppins", sans-serif;
            font-size: 16px;
        }
    }
}

.caixa-botoes-primeira-secao {
    
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 60%;

    .botao-verde,
    .botao-branco {
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        font-family: "Poppins", sans-serif;
    }

    .botao-verde {
        border: none;
        background-color: #16A34A;
        color: #FFFFFF;
        padding: 10px 20px;
    }

    .botao-branco {
        border: 1px solid #2563EB;
        color: #2563EB;
        padding: 10px 20px;
    }
}

.dados-numericos {

    align-items: center;
    background-color: #F3F5F8;
    display: flex;
    height: 15vh;
    justify-content: space-around;

    div {

        font-family: "Poppins", sans-serif;
        text-align: center;

        h2 {
            color: #16A34A;
        }

        p {
            color: #4B5563;
        }
    }
}
